<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Review of python types, lists, and dictionaries

_Author: Kiefer Katovich (SF)_

---

In [28]:
# Enter Student names here:
student_names = ['Yue','Abby','George','Gordon','Thomas','aaa','bbb','ccc','ddd','eee','fff','ggg','hhh']

---

### 1. What are the types of the following variables?

In [2]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'kiefer':'katovich', 'dave':'yerrington'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

In [5]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))
print(type(i))

<class 'int'>
<class 'float'>
<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'dict'>
<class 'bool'>
<class 'bool'>
<class 'str'>

---

### 2. What is the difference between a "mutable" and "immutable" object?

In [2]:
# A:mutable objects can be changed. immutable objects cannnot be changed

---

### 3. Print the `student_names` list.

In [9]:
print(student_names)

['Yue Su']

---

### 4. Print the names of the first and last students in the list.

In [13]:
print(student_names[0])
print(student_names[-1])

Yue
Thomas

---

### 5. Print the first four names in the student list.

In [15]:
print(student_names[0:4])# A:

['Yue', 'Abby', 'George', 'Gordon']

---

### 6. Combine the 9th and 10th student names into a single string, separated by a space.  Assign that string to a variable.

In [29]:
student_names[9:11]=[' '.join(student_names[9:11])]
nineten=student_names[9]
print(nineten)

eee fff

---

### 7. Append an animal to the list of animals.

In [31]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [34]:
animals.append('pig')
print(animals)

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'pig', 'pig']

---

### 8. Print the length of the animals list.

In [36]:
print(len(animals))

8

---

### 9. Divide the length (of the string) of the fifth animal by the second.

In [38]:
len(animals[4])/len(animals[1])

2.3333333333333335

---

### 10. Perform the same division, but ensure output is a decimal number.

In [39]:
len(animals[4])/len(animals[1])# A:

2.3333333333333335

---

### 11. Show two different ways to combine the animals list and the numbers list.

In [41]:
numbers = [0., 0.1, 1., 10., 100., 1000.]

In [43]:
animals.extend(numbers)
print(animals)

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'pig', 'pig', 0.0, 0.1, 1.0, 10.0, 100.0, 1000.0, 0.0, 0.1, 1.0, 10.0, 100.0, 1000.0]

---

### 12. Remove 'kiefer' from the list and insert your own in its place.

In [45]:
names = ['doug', 'billy', 'kiefer', 'kian', 'sam']

In [46]:
names.remove('kiefer')

---

### 13. Sort the following list.

In [51]:
mix = [['billy', 'sam'], {'key':'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

In [53]:
sorted(mix)

TypeError: '<' not supported between instances of 'dict' and 'list'

---

### 14. Manually check whether one element of `mix` is greater than another.

In [55]:
mix[2]>mix[3]

True

In [56]:
mix[0]>mix[2]

TypeError: '>' not supported between instances of 'list' and 'float'

---

### 15. Find the index of `'a'` in the list.

In [57]:
mix.index('a')

5

---

### 16. Reverse the `mix` list.

In [58]:
mix.reverse()

---

### 17. Remove the last element of `mix`,  and assign it to a variable.

In [61]:
last_mix=mix[-1]
last_mix

['billy', 'sam']

In [63]:
mix.remove(mix[-1])
mix

[(1, 2, 3), 'a', 'flower', 12, 12.999]

mix.remove(mix[-1])

---

### 18. Count the number of times `0` appears in the following list.

In [64]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [65]:
binary.count(0)

16

---

### 19. Create an SF (San Francisco) zipcode dictionary.

With the following key:value pairs:

    'sunset':94122
    'presidio':94129
    'soma':94105
    'marina':94123

In [67]:
sf_zip={'sunset':94122
,'presidio':94129,
'soma':94105,
'marina':94123}

---

### 20. Get the zipcode for `'soma'`, and assign it to a variable.

In [69]:
sf_zip.get('soma')

94105

---

### 21. Get the keys out of the dictionary.

In [70]:
print(sf_zip.keys())

dict_keys(['sunset', 'presidio', 'soma', 'marina'])

---

### 22. Add the castro district to the dictionary with zipcode 94114.

In [71]:
sf_zip['castro district']='94114'

---

### 23. Combine the following smaller dictionary of districts with the SF zip codedictionary.

In [72]:
small = {'outer_richmond':94121, 'dogpatch':94107}

In [75]:
sf_zip.update(small)
print(sf_zip)

{'sunset': 94122, 'presidio': 94129, 'soma': 94105, 'marina': 94123, 'castro district': '94114', 'outer_richmond': 94121, 'dogpatch': 94107}

---

### 24. Remove the '`sunset`' zipcode, and assign it to a variable.

In [77]:
sunset_zip=sf_zip.get('sunset')
sf_zip.pop('sunset')

94122

---

### 25. Check if the 'dogpatch' is in the dictionary.

In [78]:
if 'dogpatch' in sf_zip:
    print('True')
else:
    print('false')

True