# Filtering by age
---
Filter through the array of users, returning only those who are older than 18

In [1]:
users = [
    {'name': 'John', 'age': 17},
    {'name': 'Sally', 'age': 21},
    {'name': 'Bill', 'age': 10},
    {'name': 'Moe', 'age': 77},
    {'name': 'Jane', 'age': 18},
    {'name': 'Leslie', 'age': 19}
]

In [3]:
# Your filtering code goes here

[{'age': 21, 'name': 'Sally'},
 {'age': 77, 'name': 'Moe'},
 {'age': 19, 'name': 'Leslie'}]

In [3]:
[person for person in users if person['age']>18]

[{'age': 21, 'name': 'Sally'},
 {'age': 77, 'name': 'Moe'},
 {'age': 19, 'name': 'Leslie'}]

# Mapping Genders
---
I have a list of genders from a database:

In [12]:
genders = ['Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female']

In order to use this list in a machine learning algorithm, we need `genders` to be converted to 1's and 0's.

Create a function called `is_female` that accepts a single `gender` parameter.

- If the string is 'Female', return 1
- If the string is 'Male', return 0

In [21]:
def is_female(gender):
    if gender=="Female":
        return 1
    elif gender=="Male":
        return 0
    pass

In [22]:
is_female('Female') # This should output 1

1

In [23]:
is_female('Male') # Should return 0

0

In [36]:
[is_female(gen) for gen in genders]

[0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1]

Create a new array called `females` that maps through the `genders` array and creates a list of 1's and 0's using your `is_female` function

In [117]:
females = [is_female(gen) for gen in genders] # list comprehension goes here

females

[0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1]

# List of names
---
Convert the string of names into a list of names. Be sure to remove all commas and the word "and"

In [41]:
dwarves_string = "Bashful, Doc, Dopey, Happy, Sleepy, Sneezy and Grumpy"

Create a list called `dwarves_list` that splits `dwarves_string` on the spaces:

In [126]:
dwarves_list = dwarves_string.split(' ')# this is where you create a list from dwarves_string
dwarves_list

['Bashful,', 'Doc,', 'Dopey,', 'Happy,', 'Sleepy,', 'Sneezy', 'and', 'Grumpy']

Now use list comprehension to remove the commas.

NOTE: You'll still see commas in your output. Just make sure they aren't in the strings.

In [129]:

[s.strip(',')for s in dwarves_list]

['Bashful', 'Doc', 'Dopey', 'Happy', 'Sleepy', 'Sneezy', 'and', 'Grumpy']

Finally, use list comprehension to remove the word 'and' from your list

['Bashful,', 'Doc,', 'Dopey,', 'Happy,', 'Sleepy,', 'Sneezy', 'Grumpy']

# Sum all positives
---
Create a function that accepts an array of numbers. Return a sum of all positive numbers

In [68]:
def sum_positive(number_array):
    counter=0
    
  
        pass

In [69]:
sum_positive([1, -2, -3, 1]) # should return 2

In [18]:
sum_positive([-1]) # Should return 0

# Even numbers
---
Filter through the array of numbers and return only the even ones

In [72]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [73]:
[num for num in numbers if num%2==0]

[2, 4, 6, 8, 10]

In [17]:
# Expected output

[2, 4, 6, 8, 10]

# Filter by role
---
Filter through this list of users and return all the students

In [75]:
users = [
    {'name': 'Bill', 'role': 'Student'},
    {'name': 'Jane', 'role': 'Student'},
    {'name': 'Frank', 'role': 'Student'},
    {'name': 'Sally', 'role': 'Teacher'}
]

In [79]:
[user for user in users if user['role']=='Student']

[{'name': 'Bill', 'role': 'Student'},
 {'name': 'Jane', 'role': 'Student'},
 {'name': 'Frank', 'role': 'Student'}]

In [2]:
# Expected output

[{'name': 'Bill', 'role': 'Student'},
 {'name': 'Jane', 'role': 'Student'},
 {'name': 'Frank', 'role': 'Student'}]

Do the same thing above, only this time return all the teachers.

In [80]:
[user for user in users if user['role']=='Teacher']

[{'name': 'Sally', 'role': 'Teacher'}]

In [6]:
# Expected output

[{'name': 'Sally', 'role': 'Teacher'}]

Now return all `users` who have 4 characters in their name

In [82]:
[user for user in users if len(user['name'])==4]

[{'name': 'Bill', 'role': 'Student'}, {'name': 'Jane', 'role': 'Student'}]

# Sort numerically
---
Sort the list of numbers below from smallest to largets. *NOTE*: We haven't taught you how to sort a list, you'll need to look it up.

In [86]:
numbers = [10, 2, -1, 0, 3, 5]

In [87]:
numbers.sort()
numbers

[-1, 0, 2, 3, 5, 10]

# Mapping names
---
Given the list of dictionaries, return an array of full names. The result should be:

```python
['Jane Doe', 'John Kennedy', 'Ada Lovelace']
```

In [131]:
names = [
    {'first_name': 'Jane', 'last_name': 'Doe'},
    {'first_name': 'John', 'last_name': 'Kennedy'},
    {'first_name': 'Ada', 'last_name': 'Lovelace'}
]

In [112]:
[name['first_name']+' '+name['last_name'] for name in names]

['Jane Doe', 'John Kennedy', 'Ada Lovelace']

Now do the same thing above, only return a list of dictionaries, with 'name' being the key. Result should be:
```python
[{'name':'Jane Doe'},{'name':'John Kennedy'},{'name': 'Ada Lovelace'}]
```

In [132]:
[{'name': person['first_name'] + " " + person['last_name']} for person in names]

[{'name': 'Jane Doe'}, {'name': 'John Kennedy'}, {'name': 'Ada Lovelace'}]

# Mapping a dictionary
---
Map through the following user dictionary and capitalize the first letter of their first and last names:
```python
user = {'first_name': 'john', 'last_name': 'doe'}
```

Your output should be:
```python
{'first_name': 'John', 'last_name': 'Doe'}
```

In [99]:
user = {'first_name': 'john', 'last_name': 'doe'}
{key: value.title() for key,value in user.items()}

{'first_name': 'John', 'last_name': 'Doe'}